.menu-toggle {
    display: block;
    z-index: 101;
}

nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 30px 30px;
    transition: all 0.3s ease;
}

nav.active {
    left: 0;
}

nav ul {
    flex-direction: column;
    width: 100%;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    font-size: 1.2rem;
    display: block;
    padding: 10px 15px;
}

.botao-rastreio {
    margin: 30px 0 0;
    width: 100%;
    justify-content: center;
}



/* ... (mantenha o resto do media query) ... */
.container {
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.texto h1  {
    font-size: 1.5em;
}
.texto p {
    font-size: 1em;
}
.container-servico {
    margin-bottom: 100px;
  }
.atividades {
    grid-template-columns:repeat(2, 1fr);
}